@font-face {
  font-family: 'iconfont';  /* project id 2052856 */
  src: url('//at.alicdn.com/t/font_2052856_es6nau7veyk.eot');
  src: url('//at.alicdn.com/t/font_2052856_es6nau7veyk.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2052856_es6nau7veyk.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2052856_es6nau7veyk.woff') format('woff'),
  url('//at.alicdn.com/t/font_2052856_es6nau7veyk.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2052856_es6nau7veyk.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.iconshouji:before {
  content: "\e696";
}

.iconxinlang:before {
  content: "\e618";
}

.iconweixin:before {
  content: "\e614";
}

.iconpengyouquan:before {
  content: "\e64d";
}

.iconxiaochengxu:before {
  content: "\e624";
}

.iconkongjian:before {
  content: "\e75e";
}

.icontongji:before {
  content: "\e64e";
}

.iconshuju:before {
  content: "\e638";
}

.iconqq:before {
  content: "\e61c";
}

.iconwendangxiazai:before {
  content: "\e621";
}

.icondisplay:before {
  content: "\e612";
}

.iconlajitong1:before {
  content: "\e691";
}

.iconbianji:before {
  content: "\e771";
}

.icondanxuankuang-xuanzhong-copy:before {
  content: "\e602";
}

.iconxuanze1:before {
  content: "\e628";
}

.iconguanbi:before {
  content: "\e6a1";
}

.icondanhang:before {
  content: "\e64a";
}

.iconxuanze:before {
  content: "\e629";
}

.iconxiala:before {
  content: "\e606";
}

.icondanxuan:before {
  content: "\e601";
}

.iconfujian:before {
  content: "\e66a";
}

.iconduohang:before {
  content: "\e68d";
}

.iconbofang:before {
  content: "\e642";
}

.iconPrint2:before {
  content: "\e62a";
}

.iconyulan:before {
  content: "\ed8a";
}

.iconbaocun:before {
  content: "\e600";
}

.iconlajitong:before {
  content: "\e627";
}

.iconhuifu:before {
  content: "\e664";
}

.icontuichu:before {
  content: "\e74d";
}

.iconhuishouzhan:before {
  content: "\e672";
}

.iconchuangjian:before {
  content: "\e61d";
}

.iconwenjuan:before {
  content: "\e67f";
}

.iconzuanshi:before {
  content: "\e6d8";
}